DEBUG=True
SECRET_KEY=django-insecure-change-this-in-production
DATABASE_URL=postgres://postgres:beriole@localhost:5432/smartschool
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=votre_email@gmail.com
EMAIL_HOST_PASSWORD=votre_mot_de_passe_d_application
